* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  a {
    text-decoration: none;
    color: black;
  }
  header {
    position: fixed;
    width: 100%;
  }
  .logo {
    width: 75px;
    height: 75px;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(122, 122, 122, 0.913);
  }
  .nav-bar h1 {
    margin-left: 30px;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  li {
    list-style: none;
  }
  .hamburger {
    display: none;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 24px;
  }
  .hamburger .line {
    display: block;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 3px;
    position: absolute;
    border-radius: 3px;
  }
  .hamburger .top {
    top: 0;
  }
  .hamburger .middle {
    top: 50%;
    transform: translateY(-50%);
  }
  .hamburger .bottom {
    bottom: 0;
  }
  #toggle-menu {
    display: none;
  }
  #toggle-menu:checked + .hamburger .top {
    transform: rotate(45deg);
    top: 50%;
    z-index: 2;
  }
  #toggle-menu:checked + .hamburger .middle {
    opacity: 0;
    z-index: 2;
  }
  #toggle-menu:checked + .hamburger .bottom {
    transform: rotate(-45deg);
    top: 50%;
    z-index: 2;
  }
  
  #get-started {
    width: 100vw;
    height: 100vh;
    background: url(../assets/images/backgroundimg.jpg) no-repeat
      center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  #get-started h1 {
    padding: 10px;
    font-size: 40px;
  }
  .lay {
    font-weight: normal;
  }
  .get-started-btn {
    width: 100px;
    align-self: center;
    padding: 5px;
    color: white;
    background-color: rgb(40, 38, 38);
    outline: 0;
  }
  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 80px;
  }
  .about-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    overflow: hidden;
    border-radius: 10px;
    align-items: center;
    text-align: center;
  }

  .aboutcardimg{
    object-fit:contain ;
    width: 50px;
  }

  .featured-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(224, 232, 238);
    gap: 30px;
    padding: 100px;
  }
  video {
    width: 100%;
    height: 40%;
    max-width: 900px;
  }
  .featured-content h1 {
    font-size: 30px;
  }
  .featured-content h1::after {
    content: "";
    border: 3px rgb(136 176 255) solid;
    width: 75%;
    display: block;
    margin: 10px auto;
  }
  .sec-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px;
    gap: 40px;
  }
  .sec-content-card1,
  .sec-content-card2 {
    width: 427px;
    height: 255px;
    box-shadow: 3px 2px 8px;
  }
  .sec-content-card1 {
    background: url(./small-mountain-surrounded-by-hillside_37129-10.avif)
      no-repeat center/cover;
  }
  .sec-content-card2 {
    background: url(./pngtree-beautiful-mountain-landscape-with-a-small-river-and-high-mountains-in-image_15698322.jpg)
      no-repeat center/cover;
  }
  .sec-content-card-content1,
  .sec-content-card-content2 {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.676);
    height: 100%;
    text-align: center;
  }
  .sec-content h2::after {
    content: "";
    border: 3px rgb(136 176 255) solid;
    display: block;
    margin: 10px auto;
    width: 50%;
  }
  .sec-content h2,
  .sec-content p {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .blue-border-btn1 {
    border: rgb(99, 173, 242) 2px solid;
    outline: none;
    padding: 3px;
    color: rgb(99, 173, 242);
    width: 86px;
    height: 22px;
    border-radius: 5px;
    cursor: pointer;
  }
  .blue-border-btn2 {
    border: rgb(99, 173, 242) 2px solid;
    outline: none;
    padding: 3px;
    color: rgb(99, 173, 242);
    width: 98px;
    height: 36px;
    border-radius: 3px;
    cursor: pointer;
  }
  #heard-enough {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px;
    text-align: center;
  }
  #heard-enough h3 {
    font-size: 50px;
    margin: 20px;
    padding-bottom: 20px;
  }
  #heard-enough > h3::after {
    content: "";
    border: 3px rgb(136 176 255) solid;
    display: block;
    margin: 10px auto;
    width: 80%;
  }
  #heard-enough p {
    margin-bottom: 40px;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    background-color: rgb(216, 214, 214);
  }
  .footer div {
    display: flex;
    flex-direction: column;
  }
  .footer a {
    margin: 5px;
  }
  .footer h4 {
    margin: 5px;
  }
  
  /* Styling for mobile view */
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }
    .nav-links {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      background-color: rgb(255, 255, 255, 73%);
      height: 100vh;
      flex-direction: column;
      width: 40%;
      align-items: center;
      justify-content: center;
      z-index: 1;
    }
    #toggle-menu:checked ~ .nav-links {
      display: flex;
      transform: translateX(0);
    }
    .nav-links li {
      margin: 1.5rem 2rem;
    }
    .featured-content {
      padding: 20px;
    }
  }
  @media (width<=500px) {
    #heard-enough {
      margin: 80px 20px;
    }
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0;
      padding: 2.5em 1em;
    }
    .footer div {
      display: flex;
      flex-direction: row;
    }
    .sec-content-card1,
    .sec-content-card2 {
      width: 400px;
      height: 200px;
    }
    .sec-content {
      margin-left: 20px;
      margin-right: 20px;
    }
    .sec-content-card-content1,
    .sec-content-card-content2 {
      width: 60%;
    }
  
    .sec-content h2,
    .sec-content p {
      padding-top: 5px;
      padding-bottom: 5px;
      margin-left: 5px;
      margin-right: 5px;
    }
    .about {
      margin: 40px 10px;
    }
  }
  @media (390px<width<=425px) {
    .sec-content-card-content1 p,
    .sec-content-card-content2 p {
      font-size: 1em;
    }
  }
  @media (width<=390px) {
    .sec-content-card-content1 p,
    .sec-content-card-content2 p {
      font-size: 0.85em;
    }
  }

  @media (width>=2560) {
    
  }
  